<!doctype html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <title><%= title %></title>
</head>
<body>
<% include partials/header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"><%= title %></h1>
    </div>
</div>

<% for(var i = 0; i < favoritesFromDb.length; i++ ){ %>
<div class="container">
    <ul>
        <li>
            <%= favoritesFromDb[i].userId %> -
            <%= favoritesFromDb[i].prodId %> -
            <%= favoritesFromDb[i]._id %> -
            <%= favoritesFromDb[i].sesId %>

        </li>
    </ul>
</div>
<% } %>
<hr>

<% for(var i = 0; i < productFromQuery.length; i++ ){ %>
<div class="container">
    <ul>
        <li>
            <%= productFromQuery[i].title %> -

        </li>
    </ul>
</div>
<% } %>
<hr>

<% include partials/footer.ejs %>

<% include partials/script.ejs %>
</body>
</html>


