<!doctype html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <title><%= title %></title>
</head>
<body>
<% include partials/header.ejs %>



<div class="jumbotron jumbotron-new">
    <div class="container">
        <h1 class="text-center"><%= title %></h1>
        <p class="text-center"><%= slogan %></p>
        <p>session <%= viewAmount %></p>
        <p>session <%= sesid %></p>
        <p>Dev Repo 3</p>
    </div>
</div>





<!-- /container -->
<div class="container">
    <div class="row">
        <% for(var i = 0; i < productsFromDb.length; i++ ){ %>
        <!--<a href="/product/<%= productsFromDb[i]._id %>" role="button">-->
        <a href="/product/<%= productsFromDb[i].prodId %>" role="button">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="container">
                    <span class="label label-warning margin-bottom-new"><%= productsFromDb[i].title %></span>
                </div>

                <img src="<%= productsFromDb[i].imagePath %>" alt="" class="img-fluid img-thumbnail">

                <br>
            </div>
        </a>
        <% } %>
    </div>
    <hr>
</div>
<!-- /container -->

<% include partials/footer.ejs %>

<% include partials/script.ejs %>
</body>
</html>